name: RPLL Weather Logger

on:
  schedule:
    - cron: '0 * * * *'  # Runs exactly at the start of every hour
  workflow_dispatch:      # Allows you to run it manually for testing

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install pandas requests

      - name: Run logger
        run: python logger.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add current/RPLL-visibility-data-2026.csv
          git commit -m "Update visibility data: $(date)" || exit 0
          git push
